---
layout: base
title: Home
---
<div class="hero">
    <h1>
        <div class="inner">
            Weekend Thing...
        </div>
    </h1>

    <h2>
        Looking for a project idea to keep you busy from Friday evening until Monday morning?
    </h2>
    <a class="btn btn-hero" href="#">
        Let's find something.
    </a>
</div>
<div class="project-finder">
    <div class="projects">
    {% for project in site.data.projects %}
        <div class="project">
            <h3>
                <div
                    class="picture"
                    style="background-image: url({{ project.picture }});"
                >

                </div>
                <span>
                    {{ project.title }}
                </span>
            </h3>
            {% if project.tags %}
            <h4>
                Tags
            </h4>
            <div class="tags">
            {% for tag in project.tags %}
                <span>{{ tag }}</span>
            {% endfor %}
            </div>
            {% endif %}
            {% if project.description %}
            <h4>
                Description
            </h4>
            <p>
                {{ project.description }}
            </p>
            {% endif %}
            {% if project.links %}
            <h4>
                Links
            </h4>
            <ul class="links">
            {% for link in project.links %}
                <li>
                    <a href="{{ link.url }}" rel="nofollow" target="_blank">
                        {% if link.title %}{{ link.title }}{% else %}{{ link.url }}{% endif %}
                    </a>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    {% endfor %}
        <div class="project">
            <h3>
                <div
                    class="picture"
                    style="background-image: url(http://i.imgur.com/yiWoHwr.png);"
                >
                </div>
                <span>
                    Can you think of anything to add?
                </span>
            </h3>
            <p>
                If you've got any ideas that you'd like to add here, let me know!
            </p>
            <p>
                I'll be adding new project ideas as frequently as I think of them, but you can contribute via Pull Request on GitHub.
            </p>
            <ul class="links">
                <li>
                    <a href="https://github.com/blog/120-new-to-git" rel="nofollow" target="_blank">
                        New to Git?
                    </a>
                </li>
                <li>
                    <a href="https://github.com/omgmog/weekendthing/" rel="nofollow" target="_blank">
                        Weekend Thing on GitHub
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/omgmog/" rel="nofollow" target="_blank">
                        Follow @omgmog on Twitter
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
