@font-face {
  font-family: 'norwester';
  src:  url(../fonts/norwester.eot);
  src:  url(../fonts/norwester.eot?#iefix) format("embedded-opentype"),
        url(../fonts/norwester.woff) format("woff"),
        url(../fonts/norwester.ttf) format("truetype");
}

