@import "_variables";
@import "_fonts";
@import "_mixins";

html {
    font-size: 20px;
    background-color: $background_color;
    color: $foreground_color_1;
}
html, body {
    width: 100%;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Norwester, sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1;
}
a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1 {
    font-size: 7rem;
    margin-bottom: -4rem;
    @include transition(.2s, font-size, linear);

    &.pinned {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        font-size: 3rem;
        background-color: $background_color;
        z-index: 10000;

        .inner {
            width: $site_width;
            max-width: 90%;
            margin: 0 auto;
            padding: .5rem;
        }
    }
}
h2 {
    font-size: 3rem;
    line-height: 1.2;
    color: $foreground_color_2;
    margin: 2em 0 1em;
}
.btn {
    text-decoration: none!important;

    &.btn-hero {
        font-family: Norwester, sans-serif;
        font-size: 4rem;
        text-transform: uppercase;
        color: #fff;
        background-color: $foreground_color_2;
        padding: .5rem;
        display: inline-block;
        line-height: 1;
        @include border-radius(.25rem);

        &:hover {
            background-color: $foreground_color_3;
            @include transition(.1s, background-color, linear);
        }
    }
}

@include breakpoint('small') {
    h1 {
        font-size: 4em;
        margin-bottom: -2rem;

        &.pinned {
            font-size: 2rem;
        }
    }
    h2 {
        font-size: 2rem;
    }
    .btn {
        &.btn-hero {
            font-size: 2.5rem;
        }
    }
}
.wrapper,
.footer {
    width: $site_width;
    max-width: 90%;
    margin: 0 auto;
}
.wrapper {
    padding-top: 100px;
}
.footer {
    padding: 100px 0;
    text-align: center;
}
.hero {
    height: 100%;
}

.projects {
    overflow: hidden;
}
.project {
    width: 31%;
    margin: 0 1% 2%;
    background: #fff;
    float: left;
    padding: 20px;
    @include box-sizing;
    @include box-shadow;
    font-size: 16px;

    h3 {
        position: relative;
        height: 240px;
        overflow: hidden;
        margin: -20px -20px 20px;
        .picture {
            width: 100%;
            height: 100%;
            background-position: 50%;
            background-size: cover;
            background-repeat: no-repeat;
        }
        span {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,.8);
            padding: 10px 20px;
            display: block;
            @include box-sizing;
            color: #fff;
        }
    }
    p {
        line-height: 1.5;
    }
}
@include breakpoint('not-big') {
    .project {
        width: 48%;
        margin: 0 1% 2%;
    }
}
@include breakpoint('small') {
    .project {
        width: 100%;
        margin: 0 0 2%;
    }
}

.tags {
    margin: 1em 0;

    span {
        background-color: $background_color;
        color: $foreground_color_1;
        font-size: 14px;
        padding: 2px 5px;
        display: inline-block;
        @include box-shadow;
        margin-bottom: 4px;
    }
}
.links {
    li {
        width: 100%;
        text-overflow: wrap;
    }
}

.footer {
    p {
        font-size: .8rem;
        color: darken($background_color, 70%);
        text-shadow: 0 -1px 0 #fff;
    }
}
